@import url(composants/header.css);
@import url(composants/footer.css);

body{
    background-color: rgb(246, 243, 238);
}

.titreétude p{
    font-size: 55%;
}

.container{
    display: flex;
    margin-top: 5%;
}

.container:hover{
    box-shadow: 15px 10px 10px rgb(186, 181, 175);   
    background-color: rgba(255, 255, 255, 0.39);
}

.darkmode {
    border: none;
    background-color: #2E2C2E;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-left: 8%;
}

.nightmode {
    background-color: #262829;
    color: white;
    transition: 0.4s ease-in-out;
}

.creations {
    border: none;
    display: block;
    margin: auto;
    padding: 1% 2% 1% 2%;
    margin-top: 3%;
    background-color: #226dcf;
    font-size: 16px;
}
.daymode {
    background-color: #fff;
    color: black;
    transition: 0.4s ease-in-out;
}

.bloc1 img{
    height: 100%;
    width: 80%;
}

.bloc2{
    margin-top: 3%;
}

.container2{
    border: 1px gray;
    display: flex;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 2%;
}

.container2:hover{
    box-shadow: 15px 10px 10px rgb(186, 181, 175);  
    background-color: rgba(255, 255, 255, 0.39);
}

.blocloisir1{
    margin-top: 5%;
}

.blocloisir2 img{
    height: 70%;
    width: 80%;
    margin-top: 10%;
}

h5{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.slider{
    height: 35%;
    width: 35%;
    margin: 3% auto;
}

.edesign{
    color: #000;
}

.marketing{
    color: #000;
}

.image1{
    display: none;
    height: 25%;
    width: 25%;
    margin: 0 auto;
}

footer {
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:100px;   /* Hauteur du pied de page */
}

footer img{
    width: 5%;
    height: 900%;
}

h5{
    display: none;
    margin: 0 auto;
}

h4{
    margin-left: 6%;
}

@media screen and (max-width: 1024px){

    html{
        width: max-content;
        height: max-content;
    }

    header nav{
        width: 100%;
    }

    .hover1{
        margin-left: 10%;
    }
    
    .hover2{
        margin-left: 10%;
    }
    
    .hover3{
        margin-left: 10%;
    }
    .titreétude p{
        font-size: 55%;
    }

    footer{
        width: 100%;
    }
}

@media screen and (min-width: 390px) and (max-width: 480px){
    
    .bloc2{
        margin-right: 20%;
    }
    .container2{
        margin-right: 20%;
    }
}

@media screen and (min-width: 320px) and (max-width: 390px){
    header nav{
        padding-right: 35%;
    }
    .bloc2{
        margin-right: 35%;
    }
    .container2{
        margin-right: 33%;
    }
    .slider{
        margin-left: 20%;
    }
    footer{
        padding-right: 35%;
    }
}